@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <div><img src="~/images/vapo-logo.png" alt="VAPO"></div>
        <div class=" text-center text-white">
        <h1>VA Platform One - Test 4</h1>
    </div>
    <div class="text-center text-white">
        This is a .Net Core sample application in the VAPO environment.
    </div>
   
</div>
